<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">Login</h2>
            <form action="/login" method="POST">
           {{#if loginErr}}
                <p class="error" style="color: red;">{{loginErr}}</p>
           {{/if}}
                <div class="form-group">
                    <label>Email adress</label>
                    <input type="email" class="form-control" name="email" placeholder="Enter email">
                    <div class="form">
                        <label>Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                     <button type="submit" class="btn btn-primary mt-3 float-right">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>