<section>
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr>

                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Quantity</th>

                </tr>
            </thead>
            <tbody>
                {{#each products}}
                    <tr>
                        {{#each this.products}}
                        <td><img src="/product_images/{{this._id}}.jpg" style="width: 70px; height:70px" alt=""></td>
                        <td>{{this.Name}}</td>
                        {{/each}}
                        <td>
                            <button class="cart-item-count mr-2 btn btn-primary">-</button>
                            {{this.quantity}}
                            <button class="cart=items-count ml-2 btn btn-primary">+</button>
                        </td>
                        <td>
                            <a href="" class="btn btn-danger">X</a>
                        </td>

                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>