<section>
    <div class="container mt-5">
        <form action="/place-order " method="GET" id="checkout-form">
            <div class="row">
                <div class="col-md-6">
                    <h2>Enter Delivery Details</h2><br>
                </div>
                <label for="">Adress</label>
                <input type="text" class="form-control" id="adress" name="adress">

                <label for="">Pincode</label>
                <input type="text" class="form-control" id="pincode" name="pincode">

                <label for="">Mobile</label>
                <input type="text" class="form-control" name="mobile" id="mobile">
            </div>

            <div class="col-md-4">
                <div class="container mt-5 ml-4 chec"></div>
                <h5>Total amount: Rs.{{total}}</h5>
                <hr>
                <div class="payment">
                    <p>Payment method</p>
                    <label for="" class="radio-inline">
                        <input type="radio" name="payment-method" value="COD">Checked>COD
                    </label>
                    <label class="radio-inline mt-2">
                        <input type="radio" name="payment-method" value="ONLINE">Online payment
                    </label>
                    <button class="btn btn-primary float-right" type="submit">Checkout</button>
                </div>
            </div>
        </form>
    </div>
</section>
